html{
	height: 100%;
	margin: 0;
}

body{
	background-color: #cfc8d1;
	font-family: 'Kalam', cursive;
	font-family: 'Poiret One', cursive;
	margin: 2%;
	margin-left: 5%;
	height: 100%;
}

h1{
	font-size: 60px;
}

h2{
	font-size: 40px;
}

h3{
	font-size: 30px;
}

p{
	font-size: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
}

.textBox{
	margin-top: 5%;
	margin-bottom: 8%;
	width: 60%;
	height: auto;
	padding: 3%;
	background-color: white;
	position: relative;
	top: 5%;
	left: 5%;
	border: 2px solid black;
	box-shadow: 5px 8px #4b4a4c;
}

.speakinMyPiece{
	float: left;
	margin: 2%;
	border: 1px solid black;
}